<!DOCTYPE html>

<html>
<head>

<title>良锋的维基站点</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="Liangfeng Zhang - liangfeng.zhanglf.com" />
<meta name="description" content="Liangfeng's wiki site" />
<meta name="keywords" content="liangfeng, wiki" />
<meta name="robots" content="index, follow, noarchive" />
<meta name="googlebot" content="noarchive" />

<link rel="stylesheet" href="resources/style.css" type="text/css" />
<script type="text/javascript" src="resources/tagcanvas.min.js"></script>
<script type="text/javascript" src="resources/main.js"></script>
</head>

<body onload="onPageLoad();">

<!-- wrap starts here -->
<div id="wrap">

	<!--header -->
	<div id="header">
		<div id="nav">
			<ul>
				<li id="nav_index" class="current"><a href="index.html">首页</a></li>
				<li id="nav_major"><a href="major.html">技术</a></li>
				<li id="nav_ideas"><a href="ideas.html">随笔</a></li>
				<li id="nav_movie"><a href="movie.html">电影</a></li>
				<li id="nav_album"><a href="album.html">相册</a></li>
				<li id="nav_diary"><a href="diary.html">日记</a></li>	
			</ul>
			
			<!-- google search starts -->
			<script>
			  (function() {
				var cx = '008295439449130997388:1qciwzerdoi';
				var gcse = document.createElement('script');
				gcse.type = 'text/javascript';
				gcse.async = true;
				gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
					'//www.google.com/cse/cse.js?cx=' + cx;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(gcse, s);
			  })();
			</script>
			<div id="search"><gcse:searchbox-only></gcse:searchbox-only></div>
			<!-- google search ens -->
			
		</div>	
	</div>					
	<!--header ends-->
	
	<div id="banner"></div>
	
	<!-- content-wrap starts -->
	<div id="content-wrap">
		<!-- main starts -->
		<div id="main">
			%content%
			
			<!-- bshare starts -->
			<h3>分享</h3>
			<div class="bshare-custom">
				<a title="分享到QQ空间" class="bshare-qzone"></a>
				<a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
				<a title="分享到人人网" class="bshare-renren"></a>
				<a title="分享到腾讯微博" class="bshare-qqmb"></a>
				<a title="分享到豆瓣" class="bshare-douban"></a>
				<a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
				<span class="BSHARE_COUNT bshare-share-count">0</span>
			</div>
			<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
			<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
			<!-- bshare ens -->
			
			<!-- disqus comment starts -->
			<h3>评论</h3>
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				var disqus_shortname = 'yixie'; // required: replace example with your forum shortname
				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
			<!-- disqus comment ends -->
    
		<!-- main ends -->	
		</div>

		<!-- sidebar starts -->
		<div id="sidebar">			
			<h3>这是个什么地方</h3>		

			<!-- cloud tag starts -->
			<div id="myCanvasContainer">
				<canvas width="250" height="200" id="myCanvas">
					<p>推荐使用<strong>Chrome</strong>或者<strong>Firefox<strong>浏览器以支持该<strong>Canvas</strong>插件</p>
				</canvas>
			</div>
			<div id="tags">
			  <ul>
				<li><a href="major_vimviki.html">Vimwiki</a></li>
				<li><a href="major_canvas">Canvas</a></li>
				<li><a href="major_linux">Linux</a></li>
				<li><a href="major_python">Python</a></li>
				<li><a href="major_web">Web</a></li>
				<li><a href="major_javascript">Javascript</a></li>
				<li><a href="movie.html">Movie</a></li>
			  </ul>
			</div>
			<!-- cloud tag ens -->
			
			<h3>去哪儿找我</h3>
			<ul class="sidemenu">
				<li><a href="http://www.douban.com/people/58847811/">我的豆瓣
				<span>文艺青年装逼必备</span></a>
				</li>
				<li><a href="http://www.renren.com/253132530/profile">我的人人
				<span>大学时代的青葱岁月</span></a>
				</li>					
				<li><a href="http://user.qzone.qq.com/1012607897/main">我的QQ空间
				<span>老中青集中营</span></a>
				</li>				
			</ul>
			<h3>想看什么自己选</h3>
			<ul class="sidemenu">				
				<li><a href="index.html">首页</a></li>
				<li><a href="index.html">重磅推荐</a></li>
				<li><a href="movie.html">电影专区</a></li>
			</ul>	
				
			<h3>上网好去处</h3>
			<ul class="sidemenu">
				<li><a href="http://www.guokr.com/">果壳
				<span>科技有意思</span></a>
				</li>			
				<li><a href="http://www.cssremix.com">喷嚏
				<span>每天一图卦，让我们更清楚地了解这个世界</span></a>
				</li>				
			</ul>
			
			<h3>大牛博们</h3>
			<ul class="sidemenu">
				<li><a href="http://iamsujie.com/" title="iamsujie">苏杰
				<span>人人都是产品经理</span></a>
				</li>
			</ul>
			
			<h3>改变命运的一句话</h3>
			<p>&quot;Some birds aren't meant to be caged, that's all. Their feathers are just too bright.&quot; </p>
					
			<p class="align-right">- The Shawshank Redemption</p>							
				
		</div>
		<!-- sidebar ends -->
		
	<!-- content-wrap ends-->	
	</div>

	<!-- footer starts here -->	
	<div id="footer">
		<div id="footer-left">
			<p>
			&copy; copyright 2013	&nbsp;
			<a href="http://zhangliangfeng.github.com/" title="Liangfeng's wiki">Liangfeng's Wiki Site</a> by <a href="http://zhangliangfeng.github.com/">Liangfeng Zhang</a> &nbsp;
			</p>	
		</div>
		<div id="footer-right">
			<p class="align-right">
			<a href="index.html">Home</a> | <a href="index.html">Sitemap</a> | <a href="index.html" class="rssfeed">RSS Feed</a> 
			</p>
		</div>
	</div>
	<!-- footer ends here -->
	
<!-- wrap ends here -->
</div>

</body>
</html>
